aaaaaaaaaaaaaaa 

P1
hairLength blue
glasses yellow
facialHair white
eyeColor brown
pimples black
hat black
hairColor black
noseShape red
faceShape blue

P2
hairLength red
glasses yellow
facialHair red
eyeColor blue
pimples red
hat black
hairColor blue
noseShape red
faceShape blue

P3
hairLength green
glasses yellow
facialHair yellow
eyeColor green
pimples brown
hat brown
hairColor black
noseShape black
faceShape blue

P4
hairLength white
glasses green
facialHair red
eyeColor brown
pimples blue
hat white
hairColor black
noseShape green
faceShape black

P5
hairLength blue
glasses yellow
facialHair red
eyeColor green
pimples green
hat brown
hairColor blue
noseShape white
faceShape black

P6
hairLength white
glasses yellow
facialHair red
eyeColor brown
pimples green
hat green
hairColor white
noseShape yellow
faceShape blue

P7
hairLength white
glasses yellow
facialHair yellow
eyeColor blue
pimples white
hat brown
hairColor brown
noseShape red
faceShape red

P8
hairLength black
glasses yellow
facialHair red
eyeColor green
pimples red
hat black
hairColor blue
noseShape white
faceShape red

P9
hairLength green
glasses yellow
facialHair red
eyeColor blue
pimples black
hat white
hairColor red
noseShape white
faceShape red

P10
hairLength brown
glasses yellow
facialHair blue
eyeColor blue
pimples white
hat green
hairColor white
noseShape black
faceShape blue

P11
hairLength blue
glasses green
facialHair blue
eyeColor brown
pimples yellow
hat white
hairColor red
noseShape red
faceShape green

P12
hairLength blue
glasses yellow
facialHair red
eyeColor blue
pimples white
hat green
hairColor red
noseShape yellow
faceShape green

P13
hairLength white
glasses yellow
facialHair blue
eyeColor brown
pimples black
hat yellow
hairColor black
noseShape black
faceShape red

P14
hairLength green
glasses green
facialHair white
eyeColor brown
pimples green
hat white
hairColor blue
noseShape yellow
faceShape green

P15
hairLength green
glasses yellow
facialHair red
eyeColor blue
pimples blue
hat brown
hairColor brown
noseShape yellow
faceShape black

P16
hairLength white
glasses yellow
facialHair white
eyeColor brown
pimples black
hat green
hairColor white
noseShape yellow
faceShape red

P17
hairLength white
glasses yellow
facialHair red
eyeColor green
pimples white
hat white
hairColor red
noseShape white
faceShape brown

P18
hairLength red
glasses green
facialHair white
eyeColor blue
pimples blue
hat black
hairColor blue
noseShape white
faceShape white

P19
hairLength yellow
glasses green
facialHair yellow
eyeColor blue
pimples yellow
hat red
hairColor brown
noseShape black
faceShape brown

P20
hairLength white
glasses green
facialHair blue
eyeColor blue
pimples red
hat yellow
hairColor brown
noseShape yellow
faceShape black

P21
hairLength green
glasses green
facialHair yellow
eyeColor green
pimples black
hat black
hairColor black
noseShape green
faceShape green

P22
hairLength green
glasses yellow
facialHair blue
eyeColor green
pimples blue
hat yellow
hairColor white
noseShape black
faceShape red

P23
hairLength yellow
glasses yellow
facialHair white
eyeColor blue
pimples white
hat yellow
hairColor red
noseShape red
faceShape brown

P24
hairLength white
glasses yellow
facialHair white
eyeColor brown
pimples white
hat red
hairColor brown
noseShape yellow
faceShape green

P25
hairLength yellow
glasses green
facialHair white
eyeColor brown
pimples yellow
hat green
hairColor blue
noseShape yellow
faceShape blue

P26
hairLength white
glasses yellow
facialHair white
eyeColor blue
pimples red
hat yellow
hairColor black
noseShape black
faceShape green

P27
hairLength blue
glasses yellow
facialHair blue
eyeColor brown
pimples brown
hat black
hairColor black
noseShape red
faceShape brown

P28
hairLength blue
glasses yellow
facialHair red
eyeColor blue
pimples green
hat white
hairColor white
noseShape yellow
faceShape black

P29
hairLength green
glasses yellow
facialHair white
eyeColor brown
pimples black
hat brown
hairColor white
noseShape green
faceShape red

P30
hairLength blue
glasses yellow
facialHair white
eyeColor green
pimples white
hat red
hairColor red
noseShape white
faceShape brown

P31
hairLength green
glasses yellow
facialHair blue
eyeColor blue
pimples blue
hat white
hairColor brown
noseShape white
faceShape red

P32
hairLength black
glasses green
facialHair yellow
eyeColor green
pimples white
hat black
hairColor red
noseShape yellow
faceShape black

P33
hairLength black
glasses green
facialHair blue
eyeColor green
pimples black
hat red
hairColor blue
noseShape red
faceShape green

P34
hairLength green
glasses green
facialHair yellow
eyeColor green
pimples black
hat yellow
hairColor white
noseShape yellow
faceShape green

P35
hairLength red
glasses yellow
facialHair yellow
eyeColor green
pimples blue
hat black
hairColor brown
noseShape green
faceShape red

P36
hairLength yellow
glasses yellow
facialHair white
eyeColor green
pimples yellow
hat yellow
hairColor white
noseShape black
faceShape blue

P37
hairLength yellow
glasses yellow
facialHair yellow
eyeColor brown
pimples green
hat blue
hairColor red
noseShape red
faceShape green

P38
hairLength green
glasses green
facialHair white
eyeColor brown
pimples blue
hat green
hairColor red
noseShape black
faceShape brown

P39
hairLength blue
glasses green
facialHair yellow
eyeColor blue
pimples brown
hat blue
hairColor brown
noseShape red
faceShape green

P40
hairLength yellow
glasses green
facialHair blue
eyeColor blue
pimples yellow
hat brown
hairColor black
noseShape yellow
faceShape white

P41
hairLength brown
glasses yellow
facialHair blue
eyeColor brown
pimples green
hat yellow
hairColor red
noseShape white
faceShape green

P42
hairLength white
glasses yellow
facialHair red
eyeColor blue
pimples brown
hat black
hairColor white
noseShape white
faceShape white

P43
hairLength yellow
glasses yellow
facialHair white
eyeColor brown
pimples black
hat brown
hairColor black
noseShape black
faceShape brown

P44
hairLength yellow
glasses green
facialHair red
eyeColor green
pimples black
hat black
hairColor white
noseShape black
faceShape white

P45
hairLength black
glasses yellow
facialHair blue
eyeColor blue
pimples black
hat black
hairColor black
noseShape white
faceShape white

P46
hairLength black
glasses yellow
facialHair yellow
eyeColor brown
pimples yellow
hat brown
hairColor black
noseShape green
faceShape white

P47
hairLength red
glasses yellow
facialHair red
eyeColor brown
pimples white
hat brown
hairColor red
noseShape red
faceShape black

P48
hairLength blue
glasses yellow
facialHair white
eyeColor brown
pimples yellow
hat black
hairColor black
noseShape green
faceShape black

P49
hairLength brown
glasses yellow
facialHair white
eyeColor brown
pimples white
hat black
hairColor white
noseShape black
faceShape green

P50
hairLength blue
glasses green
facialHair blue
eyeColor brown
pimples yellow
hat brown
hairColor brown
noseShape black
faceShape brown

P51
hairLength black
glasses green
facialHair yellow
eyeColor brown
pimples green
hat green
hairColor brown
noseShape red
faceShape black

P52
hairLength yellow
glasses green
facialHair white
eyeColor green
pimples green
hat white
hairColor brown
noseShape white
faceShape black

P53
hairLength yellow
glasses yellow
facialHair yellow
eyeColor blue
pimples red
hat red
hairColor black
noseShape green
faceShape red

P54
hairLength blue
glasses green
facialHair white
eyeColor blue
pimples green
hat yellow
hairColor black
noseShape black
faceShape black

P55
hairLength blue
glasses yellow
facialHair white
eyeColor brown
pimples brown
hat yellow
hairColor red
noseShape black
faceShape blue

P56
hairLength brown
glasses yellow
facialHair blue
eyeColor brown
pimples white
hat red
hairColor black
noseShape red
faceShape white

P57
hairLength blue
glasses green
facialHair red
eyeColor green
pimples black
hat green
hairColor blue
noseShape yellow
faceShape black

P58
hairLength white
glasses green
facialHair red
eyeColor green
pimples blue
hat brown
hairColor black
noseShape black
faceShape blue

P59
hairLength red
glasses green
facialHair yellow
eyeColor blue
pimples black
hat yellow
hairColor brown
noseShape black
faceShape brown

P60
hairLength brown
glasses yellow
facialHair yellow
eyeColor brown
pimples white
hat blue
hairColor black
noseShape red
faceShape red

P61
hairLength red
glasses green
facialHair red
eyeColor brown
pimples red
hat yellow
hairColor black
noseShape red
faceShape blue

P62
hairLength white
glasses green
facialHair yellow
eyeColor brown
pimples green
hat blue
hairColor black
noseShape red
faceShape brown

P63
hairLength black
glasses yellow
facialHair white
eyeColor green
pimples green
hat white
hairColor red
noseShape yellow
faceShape green

P64
hairLength blue
glasses green
facialHair white
eyeColor brown
pimples yellow
hat yellow
hairColor red
noseShape yellow
faceShape brown

P65
hairLength yellow
glasses yellow
facialHair white
eyeColor brown
pimples yellow
hat brown
hairColor black
noseShape black
faceShape green

P66
hairLength green
glasses green
facialHair white
eyeColor blue
pimples yellow
hat green
hairColor brown
noseShape red
faceShape black

P67
hairLength white
glasses yellow
facialHair yellow
eyeColor green
pimples green
hat green
hairColor blue
noseShape red
faceShape black

P68
hairLength black
glasses green
facialHair white
eyeColor blue
pimples black
hat yellow
hairColor blue
noseShape green
faceShape blue

P69
hairLength blue
glasses green
facialHair yellow
eyeColor green
pimples brown
hat brown
hairColor blue
noseShape yellow
faceShape black

P70
hairLength brown
glasses green
facialHair white
eyeColor blue
pimples green
hat black
hairColor blue
noseShape white
faceShape green

P71
hairLength blue
glasses yellow
facialHair white
eyeColor blue
pimples blue
hat red
hairColor white
noseShape red
faceShape red

P72
hairLength blue
glasses green
facialHair blue
eyeColor brown
pimples brown
hat brown
hairColor blue
noseShape white
faceShape green

P73
hairLength yellow
glasses green
facialHair yellow
eyeColor brown
pimples brown
hat black
hairColor brown
noseShape green
faceShape green

P74
hairLength green
glasses green
facialHair white
eyeColor blue
pimples white
hat white
hairColor white
noseShape black
faceShape blue

P75
hairLength blue
glasses green
facialHair yellow
eyeColor blue
pimples blue
hat white
hairColor red
noseShape red
faceShape black

P76
hairLength blue
glasses green
facialHair blue
eyeColor blue
pimples white
hat yellow
hairColor blue
noseShape red
faceShape red

P77
hairLength black
glasses yellow
facialHair red
eyeColor green
pimples black
hat red
hairColor red
noseShape black
faceShape blue

P78
hairLength yellow
glasses yellow
facialHair yellow
eyeColor blue
pimples green
hat yellow
hairColor red
noseShape yellow
faceShape brown

P79
hairLength white
glasses yellow
facialHair white
eyeColor brown
pimples brown
hat black
hairColor black
noseShape white
faceShape green

P80
hairLength blue
glasses yellow
facialHair blue
eyeColor green
pimples white
hat black
hairColor blue
noseShape white
faceShape red

P81
hairLength brown
glasses yellow
facialHair yellow
eyeColor green
pimples blue
hat yellow
hairColor brown
noseShape yellow
faceShape white

P82
hairLength brown
glasses green
facialHair white
eyeColor blue
pimples blue
hat blue
hairColor black
noseShape black
faceShape red

P83
hairLength brown
glasses yellow
facialHair blue
eyeColor brown
pimples yellow
hat blue
hairColor blue
noseShape black
faceShape blue

P84
hairLength blue
glasses green
facialHair yellow
eyeColor brown
pimples yellow
hat red
hairColor white
noseShape white
faceShape black

P85
hairLength red
glasses green
facialHair red
eyeColor green
pimples brown
hat red
hairColor blue
noseShape black
faceShape black

P86
hairLength white
glasses green
facialHair yellow
eyeColor brown
pimples brown
hat brown
hairColor red
noseShape red
faceShape brown

P87
hairLength blue
glasses yellow
facialHair red
eyeColor blue
pimples white
hat green
hairColor black
noseShape green
faceShape red

P88
hairLength brown
glasses yellow
facialHair white
eyeColor blue
pimples green
hat brown
hairColor red
noseShape yellow
faceShape brown

P89
hairLength brown
glasses yellow
facialHair yellow
eyeColor brown
pimples green
hat blue
hairColor white
noseShape black
faceShape black

P90
hairLength yellow
glasses yellow
facialHair red
eyeColor green
pimples yellow
hat red
hairColor red
noseShape white
faceShape black

P91
hairLength black
glasses yellow
facialHair white
eyeColor green
pimples black
hat blue
hairColor blue
noseShape white
faceShape white

P92
hairLength red
glasses green
facialHair blue
eyeColor green
pimples black
hat yellow
hairColor blue
noseShape yellow
faceShape blue

P93
hairLength red
glasses yellow
facialHair white
eyeColor blue
pimples black
hat white
hairColor white
noseShape green
faceShape red

P94
hairLength white
glasses yellow
facialHair yellow
eyeColor blue
pimples black
hat yellow
hairColor red
noseShape yellow
faceShape white

P95
hairLength yellow
glasses green
facialHair white
eyeColor brown
pimples red
hat green
hairColor brown
noseShape red
faceShape blue

P96
hairLength green
glasses yellow
facialHair blue
eyeColor green
pimples yellow
hat white
hairColor red
noseShape white
faceShape green

P97
hairLength black
glasses yellow
facialHair white
eyeColor green
pimples brown
hat white
hairColor brown
noseShape black
faceShape black

P98
hairLength white
glasses yellow
facialHair white
eyeColor brown
pimples yellow
hat red
hairColor white
noseShape green
faceShape green

P99
hairLength white
glasses yellow
facialHair blue
eyeColor brown
pimples black
hat green
hairColor black
noseShape yellow
faceShape black

P100
hairLength white
glasses yellow
facialHair white
eyeColor brown
pimples red
hat brown
hairColor white
noseShape black
faceShape black

